{% extends 'base.html.twig' %}

{% block title %}Personnage!{% endblock %}

{% block monTitre %}Liste des personnages{% endblock %}
{% block body %}
<table class="table">
     <tr class="thead-dark">
          <th>Image</th>
          <th>Name</th>
     </tr>
     {% for arme in armes %}
     <tr>
          <td><img src="{{asset('images/armes/' ~ arme.nom ~'.png')}} " alt=""></td>
          <td><a href="{{ path('afficher_arme', {'nom':arme.nom |lower } ) }}">{{ arme.nom }}</a></td>
     </tr>   
     {% endfor %}
</table>
{% endblock %}
