{% extends 'base.html.twig' %}

{% block title %}Acceuil!{% endblock %}
{% block monTitre %}Coucou{% endblock %}

{% block body %}
<a href="{{ path("personnages")}} ">Lien personnages</a>
{% endblock %}

